# Visual Studio stuff
*.csproj
*.editorconfig
*.sln
/Nerd_STF/.vs/
/Nerd_STF/obj
/Nerd_STF/bin/Debug
/Nerd_STF/bin/Release/net6.0/Nerd_STF.deps.json
/Nerd_STF/bin/Release/net6.0/Nerd_STF.dll
/Nerd_STF/bin/Release/net6.0/Nerd_STF.pdb

# Testing project
/Testing

# Nuget
/Nerd_STF/LICENSE
*.nupkg

# Personal
/Nerd_STF/TODO.md
