# Useless Visual Studio stuff
.vs/
/Nerd_STF/.vs/
/Nerd_STF/Nerd_STF.csproj.user

# I don't want to include my test project.
/Testing/
*.sln

# Build Stuff
/Nerd_STF/obj
/Nerd_STF/bin
*.dll
*.pdb

# Nuget
/Nerd_STF/LICENSE
*.nupkg
*.snupkg
