# Useless Visual Studio stuff
*.csproj.user
.vs/
/*/.vs/

# I don't want to include my test project.
TODO.md

# Build Stuff
/*/obj
/*/bin
*.dll
*.pdb

# Test Stuff
TestResults/

# Nuget
/Nerd_STF/LICENSE
*.nupkg
*.snupkg
